.App {
  text-align: center;
  margin: auto;
}

.App-link {
  color: #185ade;
  font-size: 24px;
  margin: auto;
  text-align: center;
}

.Header {
  font-size: 36px;
  margin: auto;
  text-align: center;
}

.Subtext {
  font-size: 24px;
  margin: auto;
  text-align: center;
}
